doctype html
html(lang="ja")
  head
    include ../partials/_head
    include ../partials/_script
body
  include ../partials/_header
  include ../partials/_sidebar
  main.main
    block main
  include ../partials/_footer
